body {
    display: flex;
    justify-content: center;
    background-color: rgb(59, 58, 58);
}

.main {
    max-width: 390px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(135, 138, 138);
}

.screen {
    flex-direction: column;
    margin: 20px;
    padding: 10px 20px 20px 20px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
    max-height: 300px;display: flex;
}

#upperscreen, #lowerscreen {
    width: auto;
    display: flex;
    justify-content: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

#upperscreen {
    height: 40px;
    font-size: 22px;
    flex: 1 1;
}

#lowerscreen {
    height: 60px;
    font-size: 46px;
    flex: 1 1;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    width: auto;
    height: 70px;
}

.row.five {
    margin-top: 0px;
    gap: 10px;
}

.row.one {
    margin-bottom: 20px;
}

button {
    width: 80px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgb(240, 240, 240);
}

#clear, #backspace {
    width: 170px;
}

#clear {
    background-color: rgb(255, 70, 70);
}

#backspace {
    background-color: lightsalmon;
    font-size: 20px;
}

#operator-count {
    background-color: rgb(245, 245, 70);
}

#operator-divide, #operator-multiply, #operator-add, #operator-subtract {
    background-color: rgb(216, 216, 117);
}