body {
    display: flex;
    justify-content: center;
    background-color: rgb(59, 58, 58);
}

.main {
    max-width: 390px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #596867;
}

.screen {
    flex-direction: column;
    margin: 20px;
    padding: 10px 20px 20px 20px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #cac7c7;
    max-height: 300px;display: flex;
}

#upperscreen, #lowerscreen {
    width: auto;
    display: flex;
    justify-content: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

#upperscreen {
    height: 40px;
    font-size: 22px;
    flex: 1 1;
}

#lowerscreen {
    height: 60px;
    font-size: 46px;
    flex: 1 1;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    width: auto;
    height: 70px;
}

.row.five {
    margin-top: 0px;
    gap: 10px;
}

.row.one {
    margin-bottom: 20px;
}

button {
    width: 80px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    background-color: #cac7c7;
}
button:hover{background-color: #949292;}

#clear, #backspace {
    width: 170px;
}

#clear {
    background-color: #ff3b38de;
}
#clear:hover {background-color: #dd302dde;}

#backspace {
    background-color: #ff8a42ee;
    font-size: 20px;
}
#backspace:hover {background-color: #d87436ee;}

#operator-count {
    background-color: #124b45;
}
#operator-count:hover {background-color: #0d3531;}


#operator-divide, #operator-multiply, #operator-add, #operator-subtract {
    background-color: #158378;
}
#operator-divide:hover, #operator-multiply:hover, #operator-add:hover,
#operator-subtract:hover {background-color: #0f6159;}

#dot:hover{background-color: #949292;}